[Unit]
Description=OPBOT - pure python3 IRC bot
After=network-online.target

[Service]
DynamicUser=True
StateDirectory=opbot
LogsDirectory=opbot
CacheDirectory=opbot
ExecStart=/usr/local/bin/opbotd
CapabilityBoundingSet=CAP_NET_RAW

[Install]
WantedBy=multi-user.target
